[submodule "gpush"]
	path = rjscripts/gpush
	url = https://github.com/rmassaroni/gpush
[submodule "nvim-4mat"]
    path = rjplugs/nvim-4mat
    url = https://github.com/rmassaroni/nvim-4mat
[submodule "rjnotes"]
    path = rjplugs/rjnotes
    url = https://github.com/rmassaroni/rjnotes
[submodule "rjplugs/nvim-4mat"]
	path = rjplugs/nvim-4mat
	url = https://github.com/rmassaroni/nvim-4mat
[submodule "rjplugs/invis-notes"]
	path = rjplugs/invis-notes
	url = https://github.com/rmassaroni/invis-notes
[submodule "rjplugs/nvim-funs"]
	path = rjplugs/nvim-funs
	url = https://github.com/rmassaroni/nvim-funs
